module.exports = {
  apps: [{
    name: 'node-app',
    script: 'src/server.js',
    instances: 1,
    autorestart: true,
    watch: false,
    max_memory_restart: '512M',
    env: {
      NODE_ENV: '{{ node_env }}',
      PORT: {{ app_port }},
      DB_HOST: '{{ db_host }}',
      DB_PORT: '{{ db_port }}',
      DB_NAME: '{{ db_name }}',
      DB_USER: '{{ db_user }}',
      DB_PASSWORD: '{{ db_password }}',
      API_HOST: 'http://{{ ansible_host }}:{{ app_port }}'
    }
  }]
};
